# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules

# Build
dist
dist-ssr
dev-dist
*.local

# Env
.env
.env.local
.env.*.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# Supabase
supabase/.branches
supabase/.temp

# TypeScript
*.tsbuildinfo

.vercel
.env*
